<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="todo-container">
      <h2>To-Do List</h2>
      <div class="todo">
        <form action="/?_method=PUT" method="POST" class="todo-header">
          <input type="text" name="content" />
          <button><span class="fas fa-plus"></span></button>
        </form>

        <!-- <ul class="todo-list">
          <% task.forEach(t => { %>
          <li class="todo-list-item">
            <div class="todo-list-item-name"><%= t.task %></div>
            <a href="" class="edit">
              <span class="fas fa-edit"></span>
            </a>

            <a href="" class="remove">
              <span class="fas fa-times"></span>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html> -->

        <ul class="todo-list">
          <% task.forEach(t => { %> <% if (t._id == idTask) { %>
          <li class="todo-list-item">
            <form action="/edit/<%= t._id %>/?_method=PUT" method="POST">
              <input type="text" value="<%= t.task %>" name="content" />
              <button type="submit">Confirm</button>
              <a href="/" class="cancel">Cancel</a>
            </form>
          </li>
          <% } else { %>
          <li class="todo-list-item">
            <div class="todo-list-item-name"><%= t.content %></div>
            <a href="/<%= t._id %>/edit" class="edit">
              <span class="fas fa-edit"></span>
            </a>
            <a href="/<%= t._id %>/remove" class="remove">
              <span class="fas fa-times"></span>
            </a>
          </li>
          <% } %> <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
